<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidInitializer">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="son.ysy.initializer.android.provider.StartupProvider"
            android:authorities="${applicationId}.androidx_start"
            android:exported="false">
                        <meta-data
                            android:name="${packageName}.initializer.Initializer1"
                            android:value="@string/initializer_start_up" />
                        <meta-data
                            android:name="${packageName}.initializer.Initializer2"
                            android:value="@string/initializer_start_up" />
                        <meta-data
                            android:name="${packageName}.initializer.Initializer3"
                            android:value="@string/initializer_start_up" />
                        <meta-data
                            android:name="${packageName}.initializer.Initializer4"
                            android:value="@string/initializer_start_up" />
                        <meta-data
                            android:name="${packageName}.initializer.Initializer5"
                            android:value="@string/initializer_start_up" />
                        <meta-data
                            android:name="${packageName}.initializer.Initializer8"
                            android:value="@string/initializer_start_up" />
                        <meta-data
                            android:name="${packageName}.initializer.Initializer6"
                            android:value="@string/initializer_start_up" />
                        <meta-data
                            android:name="${packageName}.initializer.Initializer7"
                            android:value="@string/initializer_start_up" />
                        <meta-data
                            android:name="${packageName}.initializer.Initializer9"
                            android:value="@string/initializer_start_up" />
                        <meta-data
                            android:name="${packageName}.initializer.Initializer10"
                            android:value="@string/initializer_start_up" />

            <meta-data
                android:name="${packageName}.initializer.share.ShareEndInitializer"
                android:value="@string/initializer_start_up" />
            <meta-data
                android:name="${packageName}.initializer.share.ShareIdInitializer1"
                android:value="@string/initializer_start_up" />
            <meta-data
                android:name="${packageName}.initializer.share.ShareIdInitializer2"
                android:value="@string/initializer_start_up" />
            <meta-data
                android:name="${packageName}.initializer.share.ShareIdInitializer3"
                android:value="@string/initializer_start_up" />
            <meta-data
                android:name="${packageName}.initializer.share.ShareIdInitializer4"
                android:value="@string/initializer_start_up" />
            <meta-data
                android:name="${packageName}.initializer.share.ShareIdInitializer5"
                android:value="@string/initializer_start_up" />
        </provider>
    </application>

</manifest>